In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import loadexcel as lc
from tools import filetool as ft
import loaddb as ld

In [3]:
df=lc.excel2Dataframe_one_file_test(path="example_data\\1队\\2019年3月一车队油耗和汇总表.xls",sheetname="101路统计表",target_by="车号")

['101']

In [4]:
df

   car_id  mailage  oil_cost  maintain  follow route
4    B621   3655.9   1389.01         5       0   101
5    B632   4668.4   1734.47         0       0   101
6    B637   5804.9   2292.29         5       0   101
7    B652   2913.2    974.32         0       0   101
8    B653   5356.8   1808.20         0       0   101
9    B657   5875.8   1985.55         0       0   101
10   B683   3351.0   1265.83         0      45   101
11   B702   3230.5   1134.16         0       0   101
12   B708   5011.9   1841.97         0       0   101
13   B710   2838.5   1024.83         0       0   101
14   B717   5204.2   1825.25         0       0   101
15   B729   3745.5   1289.00         0       0   101
16   B732   4681.9   1631.31         0       0   101
17   B738   2828.6   1076.42         0       0   101
18   B739   2091.0    817.30         0       0   101
19   B750   5600.6   2188.57         0       0   101
20   B751   5364.3   1971.98         0       0   101
21   B752   5484.2   2089.03         0       0   101
22   B758   2907.0    988.91         0       0   101
23   B759   5221.4   1902.03         0       0   101
24   B761   3573.8   1234.10         5       0   101
25   B783   3805.0   1312.54         0       0   101

In [21]:
data={'车号':'car_id','车公里':'mailage','实绩':'oil_cost','二保':'maintain','跟车':'follow'}

In [22]:
data.keys()

dict_keys(['车号', '车公里', '实绩', '二保', '跟车'])

In [24]:
item=[lc.local_value(df,key)[1] for key in  data.keys()]
# for key in data.keys():
#     item.append(lc.local_value(df,key)[1])
# item

[2, 3, 6, 10, 11]

In [34]:
df=df.iloc[:,item]

In [35]:
data.values()

dict_values(['car_id', 'mailage', 'oil_cost', 'maintain', 'follow'])

In [37]:
df.columns=data.values()

In [38]:
df

   car_id  mailage oil_cost maintain follow
0     NaN      NaN      NaN      NaN    NaN
1      车号      车公里      NaN       备注    NaN
2     NaN      NaN       实绩      NaN    NaN
3     NaN      NaN       总量       二保     跟车
4    B621   3655.9  1389.01        5    NaN
5    B632   4668.4  1734.47      NaN    NaN
6    B637   5804.9  2292.29        5    NaN
7    B652   2913.2   974.32      NaN    NaN
8    B653   5356.8   1808.2      NaN    NaN
9    B657   5875.8  1985.55      NaN    NaN
10   B683     3351  1265.83      NaN     45
11   B702   3230.5  1134.16      NaN    NaN
12   B708   5011.9  1841.97      NaN    NaN
13   B710   2838.5  1024.83      NaN    NaN
14   B717   5204.2  1825.25      NaN    NaN
15   B729   3745.5     1289      NaN    NaN
16   B732   4681.9  1631.31      NaN    NaN
17   B738   2828.6  1076.42      NaN    NaN
18   B739     2091    817.3      NaN    NaN
19   B750   5600.6  2188.57      NaN    NaN
20   B751   5364.3  1971.98      NaN    NaN
21   B752   5484.2  2089.03      NaN    NaN
22   B758     2907   988.91      NaN    NaN
23   B759   5221.4  1902.03      NaN    NaN
24   B761   3573.8   1234.1        5    NaN
25   B783     3805  1312.54      NaN    NaN
26    NaN  93214.4  33777.1       15     45
27    NaN      NaN      NaN      NaN    NaN